{% extends 'blog/base.html' %}

{% block content %}
<div class="box">
    <h2 style="margin-top: 0;">Создание поста</h2>

    <form method="post">
        {% csrf_token %}

        <div>
            <label>Содержание поста:</label>
            {{ form.content }}
            {% if form.content.errors %}
            <div style="color: #e41e3f; font-size: 13px;">{{ form.content.errors }}</div>
            {% endif %}
        </div>

        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-green">Опубликовать</button>
            <a href="{% url 'index' %}" class="btn btn-gray">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}