{% extends 'blog/base.html' %}

{% block content %}
<div class="box">
    <h2>Создание поста</h2>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label class="form-label">Содержание поста:</label>
            {{ form.content }}
            {% if form.content.errors %}
            <div class="warning-text">{{ form.content.errors }}</div>
            {% endif %}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-green">Опубликовать</button>
            <a href="{% url 'index' %}" class="btn btn-gray">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}